
    <form >
        <h3>Contact us</h3>
        <div >
            <label >Your name</label>
            <div>
                <input type="text"  name="Name" required>
            </div>
        </div>

        <div>
            <label>Your email address</label>
            <div >
                <input type="email"  name="Email" required>
            </div>
        </div>

        <div>
            <label>Your message</label>
            <div>
                <textarea  name="Message"  rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div >
            <button type="submit">Send Message</button>
        </div>

    </form>
