  <h1> About Us </h1>
	<p>Our mission is to empower young Students to be the inventors and creators.</p>
	<p>In a world where so much is being done for technology and so little for the environment, education is not even a part of most discussions.</p>
  <p>We at Studytonight believe that by widening the reach of education, by making it freely available, so much can be achieved.</p>
  <p>And this journey started in 2013 when a young boy thought "wouldn't it be great, to have a website, with simple tutorials for programming languages, just like a friend would teach you!", and Studytonight was born.</p>
  
  
