<form>
    <h2>Registration</h2>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="name" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Number Of Attempts</mat-label >
        <input matInput type="number" placeholder="attempts" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Percentage</mat-label>
        <input matInput type="number" placeholder="percentage" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Subjects</mat-label>
        <input matInput type="text" placeholder="subjects" required>
    </mat-form-field>
   <br>
    <button mat-raised-button color="primary">Register</button>
</form>